@charset "utf-8";
@import url(tog-pc) screen and (max-width:2360px);
@import url() screen and (max-width: 640px);
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
	margin: 0;padding:0;
	font-family: 'helvetica neue',arial,'hiragino sans gb',stheiti,'wenquanyi micro hei', 微软雅黑,宋体,sans-serif;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix{
    zoom:1;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
header{
    position: relative;
}
header .line{
    background-color: #FFA500;
    height: 4px;
    width: 100%;
}
header .toplinks{
    float: right;
    width: 170px;
    color: #ACACAC;
}
.toplinks a{
    color: #ACACAC;
}

.nav .logo{
    width: 104px;
    height: 82px; 
} 
.nav i{
    color: #FFA501;
    float: right;
    font-weight: 200px;
    cursor: pointer;
}
footer .ad{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
footer .ad li{
    float: left;
    // width: 19.91%;   
    height: 100px;
    border-right: 1px solid #DDDDDD;
    text-align: center;
    background-color: #F3F3F3; 
}
footer .qt{
    height: 470px;
    width: 100%;
    background: url(../images/footbg.jpg);   
    overflow: hidden;
}
footer .ew{
    width: 490px;
    height: 75px;
    line-height: 75px;
    border-top: 1px solid #9B9B9B;
    border-bottom: 1px solid #9B9B9B;
        
}
footer .ew ul{
    width: 375px;
    height: 75px;
    margin-left: 40px;
}
footer .ew li{
    float: left;
    width: 75px;
    height: 20px;
    text-align: center;
}
footer .ew li a{
    color: #fff;
    font-size: 16px;
}
footer .fenx{
    width: 240px;
    height: 48px;
    
} 
footer .fenx li{
    float: left;
    margin-right: 8px;
}
footer .fenx li a i{
    display: block;
    background-image: url(../images/icons_1_32.png);
    width: 32px;
    height: 33px;
}
footer .fenx li a .fenxiang{
    background-position: 0px 0px;
}
footer .fenx li a .zone{
    background-position: 0px -50px;
}
footer .fenx li a .xl{
    background-position: 0px -102px;
}
footer .fenx li a .tx{
    background-position: 0px -256px;
}
footer .fenx li a .renren{
    background-position: 0px -206px;
}
footer .fenx li a .weixin{
    background-position: 0px -1610px;
}
footer .lxfs{
    
    color: #d3d3d3;
    
    text-align: center;
} 
footer .lxfs .tel li{
    float: left;
    margin-right: 30px;
    margin-bottom: 4px;
    
}
footer .lxfs .tel li a{
    color: #d3d3d3;
}
footer .lxfs p{
    margin-bottom: 4px;
} 
footer .twocode{
    width: 450px;
    height: 470px;
    
    color: #fff;
    font-size: 13px;
    text-align: center;
}
footer .twocode li{
    float: left;
    margin-right: 10px;
}
footer .police{
    color: #d3d3d3;
    font-size: 10px;
    
    height: 20px;
    line-height: 20px;
}
footer .police img{
    height: 20px;
    line-height: 20px;
    
}
.content .toppic{
    width: 100%;
    height: 135px;
    position: relative;
    text-align: center;
    background: url(../images/bg.jpg) no-repeat;
}
.content .toppic p{
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 56px;
    left: 586px;
}
.content .loaction{
    width: 100%;
    height: 60px;
    position: relative;
    border: 1px solid #ccc;
}
.content .loaction p{
    font-size: 24px;
    color: #555;
    position: absolute;
    top: 15px;
    left: 170px;
}
.content .loaction .span{
    font-size: 14px;
    color: #ccc;
    position: absolute;
    top: 20px;
    right: 177px;    
}
.content .loaction a{
    color: #ccc;
}
.content .loaction span{
    padding-right: 4px;
}
.content .bigpic{
    width: 100%;
    height: 838px;
}
.content .bigpic img{
    margin: 40px 180px 40px 180px;
}
.content .about{
    text-align: center;
    color: #555;
}
.content .about .one{
    font-size: 28px;
    font-weight: normal;
    line-height: 1.5;

}
.content .about .two{
    font-weight: bold;
    font-size: 12px;
}
.content .peisong{
    width: 1020px;
    height: 321px;
    color: #555;
    position: relative;
    left: 174px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.content .peisong .world01,.world02{
    font-size: 15px;
    // padding-bottom: -15px;
    border-bottom: #9f9f9f 1px dotted;
    padding-top: 10px;
    line-height: 1.8;
}
.content .peisong .world01{
    width: 490px;
    height: 178px;
}
.content .peisong .world02{
    padding: 15px 0 15px 55px;
    width: 440px;
    height: 90px;
    padding-bottom: 5px;
    position: relative;
}
.content .peisong span{
    position: absolute;
    left: 13px;
    top: 18px;
    width: 30px;
    height: auto;
    line-height: 1.2;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.content .pic{
    position: relative;
    left: 504px;
    top:-290px;
    padding-bottom: -300px;
}

